body {
  background-color: rgb(255, 255, 198);
}

.container {
  border: 1px solid black;
  display: block;
  margin: 60px auto;
  padding: 30px;
  max-width: 700px;
  text-align: center;
}

h1 {
  color: green;
}

img {
  display: block;
  margin: 30px auto;
  width: 100%;
}

.bottom-links {
  margin: 20px;
}

.email {
  margin: 0;
}